<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In Page</title>
    <link rel="stylesheet" href="css/nprogress.css">
    <script src="js/nprogress.js" defer></script>
    <script src="js/index.js" defer></script>
</head>
<body>
    <h1>Welcome to the NProgress Example Page!</h1>
    <p>This page demonstrates how to use NProgress with EJS in an Express app.....</p>
</body>
</html>